{% extends "base.html" %}

{% block content %}
{#<div class='panel panel-primary'>#}
{#    <div class='panel-heading'>#}
{#        <h3 class='panel-title'><i class='fa fa-database'></i> {{name}} (pk: {{id}})</h3>#}
{#    </div>#}
{#    <div class='panel-body' data-bind='foreach: columns'>#}
{#        <div class='well'>#}
{#            <form class='form form-inline' data-bind='submit: function() { $root.updateColumn($data) }'>#}
{#                <input type='hidden' name='id' data-bind='value: id'>#}
{#                <div class='form-group'>#}
{#                    <label for='name'>Name</label>#}
{#                    <input name='name' type='text' class='form-control' data-bind='value: name'>#}
{#                </div>#}
{#                <div class='form-group'>#}
{#                    <label for='description'>Description</label>#}
{#                    <textarea class='form-control' name='description' data-bind='value: description' rows='3'></textarea>#}
{#                </div>#}
{#                <div class='form-group'>#}
{#                    <label for='dataType'>Data type</label>#}
{#                    <input name='data_type' type='text' class='form-control' data-bind='value: data_type'>#}
{#                </div>#}
{#                <div class='form-group'>#}
{#                    <button type='submit' class='btn btn-default'>Update</button>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
    <div id="elm-main"></div>
{% endblock content %}

{% block javascript %}
{#{% include "includes/ko.js" %}#}
{% include "includes/csrf.js" %}
<script>
{% include "includes/elm-data-group.js" %}
</script>
<script>
    var el = document.getElementById("elm-main");
    var app = Elm.Metadata.embed(el, {{ data_id_json|safe }});
</script>
{% endblock javascript %}
