body {
    font-size: 14px;
    line-height: 1.42857143;
}
.projects {
    min-height: 60%;
    max-height: 60%;
    overflow-y: auto;
    overflow-x: hidden;
}
.activitylog {
    min-height: 60%;
    max-height: 60%;
    overflow-y: auto;
    overflow-x: hidden;
}
#footer {
    margin-top: 10px;
    height: 60px;
    background-color: #42545E;
    font-size: .8em;
    color: #FFF;
}
.nav-footer {
    margin-top: 25px;
    text-align: center;
}
#content {
    margin-top: 90px;
}
.table-container th.asc:after {
  content: '\0000a0\0025b2';
}
.table-container th.desc:after {
  content: '\0000a0\0025bc';
}
.pagination {
  text-align: center;
}
/* Honeypot Field */
input#id_contact_number {
    display: none;
}
.btn-fb {
    color: #FFF;
    background-color: #3B5999;
}
.btn-google {
    color: #FFF;
    background-color: #4d90fe;
}
.no-js .dynamic-content {
    display: none;
}
.label-badge {
    border-radius: 1em;
}
.radiant {
    height: 900px;
}
.btn {
    text-transform: none;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
pre.tree {
    line-height: 1.2;
}
