deployr:
  build: deployr
  volumes_from:
    - data
#  ports: 
#    - "7400:7400"
  environment:
#### Variables below are used in deployr/addUser.py line 21/22
    DEPLOYR_HOST: deployr
    DEPLOYR_USER: miracle
    DEPLOYR_URL: 'http://deployr:7400/deployr'
#    DEPLOYR_PASS: changeme

radiant:
  build: radiant
  volumes_from:
    - data
  ports: 
    - "3838:3838"
  environment:
#### Change radiant-mod:/srv/shiny-server/base/tools/data/manage_ui.R line 457
#### Only need a read_only user for the `miracle_metadata` database
    RADIANT_URL: '/radiant/'
  links:
    - db

db:
  image: sameersbn/postgresql:9.4-3
#  ports: 
#    - "5432:5432"
  environment:
    DB_USER: miracle
    DB_PASS: changeme_db
    DB_HOST: db
    DB_PORT: 5432
    DB_NAME: 'miracle_data,miracle_metadata'
#    PSQL_TRUST_LOCALNET: 'true'

django:
  build: django
  volumes_from:
    - data
  volumes:
    - /miracle/socket
    - /code
#  ports:
#    - "8000:8000"
  environment:
#### Change local.py file for DEPLOYR_PASS, change entrypoint.sh file for MIRACLE_PASS
#### Default MIRACLE_USER is a Django admin user
    MIRACLE_USER:  admin
    MIRACLE_EMAIL: "miracle-admin@comses.net"
  links:
    - db
    - deployr
    - radiant

data:
  build: django
  volumes:
    - /miracle/projects
    - /miracle/packrat
    - /miracle/static
    - /miracle/archives

nginx:
  build: nginx
  volumes_from: 
    - data
    - django
  ports:
    - "9999:9999"
  links:
    - db
    - deployr
    - radiant
    - django
  
