body {
    font-size: 14px;
    line-height: 1.42857143;
}
#footer {
    margin-top: 10px;
    height: 60px;
    background-color: #42545E;
    font-size: .8em;
    color: #FFF;
}
.nav-footer {
    margin-top: 25px;
    text-align: center;
}
#content {
    margin-top: 90px;
}
.table-container th.asc:after {
  content: '\0000a0\0025b2';
}
.table-container th.desc:after {
  content: '\0000a0\0025bc';
}
.pagination {
  text-align: center;
}
/* Honeypot Field */
input#id_contact_number {
    display: none;
}
.btn-fb {
    color: #FFF;
    background-color: #3B5999;
}
.no-js .dynamic-content {
    display: none;
}
