{% extends "base.html" %}

{% block content %}
<div class='row'>
    <h4><i class='fa fa-tachometer'></i> Dashboard</h4>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h4 class='panel-title'><i class='fa fa-table'></i> Your Projects
                <button class='btn btn-primary btn-xs' data-bind='click: createNewProject'><i class='fa fa-plus'></i> New</button>
            </h4>
        </div>
        <div class='panel-body dynamic-content'>
            <div data-bind='if: projects().length'>
            <table class='table striped'>
                <thead>
                    <th class='col-md-1'>Status</th>
                    <th class='col-md-3'>Name</th>
                    <th class='col-md-4'>Description</th>
                    <th class='col-md-2'>Owner</th>
                    <th class='col-md-2'>Date created</th>
                </thead>
                <tbody data-bind='foreach: projects'>
                <tr>
                    <td><span class='label label-badge label-primary' data-bind='text: status'></span></td>
                    <td><a data-bind='attr: {href: detail_url}, text: name'></a></td>
                    <td data-bind='text: description'></td>
                    <td data-bind='text: creator'></td>
                    <td data-bind='text: date_created'></td>
                </tr>
                </tbody>
            </table>
            </div>
            <div data-bind='ifnot: projects().length'>
                <div class='alert alert-success'>
                    No available projects. <span class='btn btn-warning' data-bind='click: createNewProject'><i class='fa fa-plus'></i> Create one?</span>
                </div>
            </div>
        </div>
    </div>
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            <h4 class='panel-title'><i class='fa fa-history'></i> Recent Activity</h4>
        </div>
        <div class='panel-body'>
            {% for activity in activity_log %}
            <div class='alert alert-info'>
                <mark>{{activity.creator}}</mark>: {{ activity.message }} <span class='pull-right label label-primary'>{{ activity.date_created }}</span>
            </div>
            {% empty %}
            <div class='alert alert-info'>
                No recent activity.
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% include "includes/ko.js" %}
{% include "includes/csrf.js" %}
{% include "includes/validate.js" %}
{% include "project/includes/detail-form.html" %}
<script type='text/template' id='project-list'>
    <div data-bind='if: projects().length'>
        <table class='table striped'>
            <thead>
                <th class='col-md-4'>Name</th>
                <th class='col-md-4'>Description</th>
                <th class='col-md-2'>Owner</th>
                <th class='col-md-2'>Date created</th>
            </thead>
            <tbody data-bind='foreach: projects'>
            <tr>
                <td><a data-bind='attr: {href: detail_url}, text: name'></a></td>
                <td data-bind='text: description'></td>
                <td data-bind='text: creator'></td>
                <td data-bind='text: date_created'></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div data-bind='ifnot: projects().length'>
    <div class='alert alert-success'>
    No available projects. <span class='btn btn-warning' data-bind='click: createNewProject'><i class='fa fa-plus'></i> Create one?</span>
    </div>
    </div>
</script>
<div class='modal fade' data-bind='modal: activateNewProject'>
<div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'>New project
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                </h4>
            </div>
            <div class='modal-body'>
                <form id='new-project-form' class='form-horizontal'>
                    <project-detail-form params='model: project'></project-detail-form>
                </form>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
                <button type='button' class='btn btn-primary' data-bind='click: saveProject'>Create</button>
            </div>
        </div>
    </div>
</div>
<script>
var projectArray = $.parseJSON("{{ project_list_json | escapejs }}");
$(function() {
    function ProjectListModel(projectArray) {
        var self = this;
        var model = ko.mapping.fromJS({projects: projectArray});
        model.project = ko.observable(new ProjectModel());
        model.activateNewProject = ko.observable(false);
        model.templateId = ko.observable('project-list');
        model.createNewProject = function() {
            model.project(new ProjectModel());
            model.activateNewProject(true);
        }
        model.saveProject = function() {
            if ($('#new-project-form').valid()) {
                var project = model.project();
                project.save();
                model.activateNewProject(false);
                model.projects.push(project);
            }
        }
        return model;
    }
    ko.applyBindings(new ProjectListModel(projectArray));
    $('#new-project-form').validate();
    document.documentElement.className = "js";
});
</script>

{% endblock javascript %}
