{% extends "base.html" %}
{% load staticfiles %}
{% block title %}DiD: Miracle{% endblock %}

{% block content %}

<div class="container">
    <div class="widget-wrapper">
        <div class="widget-head">
            <i class="fa fa-newspaper-o"></i> The MIRACLE Project
        </div>
        <div class="widget-content">
            <p>
            Social scientists have used agent-based models (ABMs) to explore the interaction and feedbacks among social
            agents and their environments. The bottom-up structure of ABMs enables simulation and investigation of
            complex systems and their emergent behavior with a high level of detail; however the stochastic nature and
            potential combinations of parameters of such models create large non-linear multidimensional “big data,”
            which are difficult to analyze using traditional statistical methods. Our proposed project seeks to address
            this challenge by developing algorithms and web-based analysis and visualization tools that provide
            automated means of discovering complex relationships among variables. The tools will enable modelers to
            easily manage, analyze, visualize, and compare their output data, and will provide stakeholders, policy
            makers and the general public with intuitive web interfaces to explore, interact with and provide feedback
            on otherwise difficult-to-understand models.
            </p>
        </div>
    </div>
</div>

{% endblock content %}
