{% extends "base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.css'>
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-md-3'>
        {# sidebar #}
        <ul class='nav nav-pills nav-stacked' role='tablist'>
            <li role='presentation' class='active'>
                <a href='#overview' aria-controls='overview' role='tab' data-toggle='tab'><i class='fa fa-table'></i> Overview</a>
            </li>
            <li role='presentation'>
                <a href='#explorer' aria-controls='explorer' role='tab' data-toggle='tab'><i class='fa fa-binoculars'></i> Data explorer</a>
            </li>
            <li role='presentation'>
                <a href='#analysis' aria-controls='analysis' role='tab' data-toggle='tab'><i class='fa fa-terminal'></i> Analysis and scripts</a>
            </li>
            <li role='presentation'>
                <a href='#upload' aria-controls='upload' role='tab' data-toggle='tab'><i class='fa fa-cloud-upload'></i> Upload datasets</a>
            </li>
            <li role='presentation'>
                <a href='{% url "core:dashboard" %}'><i class='fa fa-dashboard'></i> Return to dashboard</a>
            </li>
        </ul>
    </div>
    <div class='col-md-9'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h2 class='panel-title'>{{project.name}} <span class='label label-badge label-primary pull-right'>{{project.status}}</span></h2>
            </div>
            <div class='panel-body'>
                <div class='tab-content'>
                    <div role='tabpanel' class='tab-pane active' id='overview'>
                        <form class='form-horizontal' data-bind='submit: save'>
                            <project-detail-form params='model: $root'></project-detail-form>
                            <div class='well'>
                                <h3>Uploaded datasets</h3>
                                <ul class='list-group' data-bind='foreach: datasets'>
                                    <li class='list-group-item'><a data-bind='attr: {href: $data}, text: $data'></a></li>
                                </ul>
                            </div>
                            <div class='form-group'>
                                <div class='col-sm-offset-2 col-sm-8'>
                                    <button type='submit' class='btn btn-primary'><i class='fa fa-save'></i> Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='explorer'>
                        <div class='embed-responsive embed-responsive-4by3'>
                            <iframe height='900px' class='radiant' src='http://miracle-devel.sharcnet.ca/radiant/?project=sample'></iframe>
                        </div>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='analysis'>
                        Data analysis and scripts
                    </div>
                    <div role='tabpanel' class='tab-pane' id='upload'>
                        Add dataset upload for project {{project}}<br>
                        <form action="{% url 'core:upload' %}" class="dropzone" enctype="multipart/form-data" method="post" id="my-dropzone">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ project.id }}">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% include "includes/ko.js" %}
{% include "includes/dropzone.js" %}
{% include "includes/csrf.js" %}
{% include "project/includes/detail-form.html" %}
<script>
$(function() {
    Dropzone.options.myDropzone = {
        paramName: "file",
    };
    var model = new ProjectModel({data: {{ project_json|safe}}} );
    ko.applyBindings(model);
});
</script>
{% endblock %}
