{% extends "base.html" %}

{% block content %}

<div class='row'>
    <div class='col-md-3'>
        {# sidebar #}
        <ul class='nav nav-pills nav-stacked' role='tablist'>
            <li role='presentation' class='active'>
                <a href='#overview' aria-controls='overview' role='tab' data-toggle='tab'><i class='fa fa-table'></i> Overview</a>
            </li>
            <li role='presentation'>
                <a href='#explorer' aria-controls='explorer' role='tab' data-toggle='tab'><i class='fa fa-binoculars'></i> Data explorer</a>
            </li>
            <li role='presentation'>
                <a href='#analysis' aria-controls='analysis' role='tab' data-toggle='tab'><i class='fa fa-terminal'></i> Analysis and scripts</a>
            </li>
            <li role='presentation'>
                <a href='#upload' aria-controls='upload' role='tab' data-toggle='tab'><i class='fa fa-cloud-upload'></i> Upload datasets</a>
            </li>
        </ul>
    </div>
    <div class='col-md-9'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h2 class='panel-title'>{{project.name}} <span class='label label-badge label-primary pull-right'>{{project.status}}</span></h2>
            </div>
            <div class='panel-body'>
                <div class='tab-content'>
                    <div role='tabpanel' class='tab-pane active' id='overview'>
                        <form class='form-horizontal' data-bind='submit: saveProjectDetails'>
                            <project-detail-form params='model: project'></project-detail-form>
                            <div class='form-group'>
                                <div class='col-sm-offset-2 col-sm-8'>
                                    <button type='submit' class='btn btn-primary'><i class='fa fa-save'></i> Save</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='explorer'>
                        Data explorer
                    </div>
                    <div role='tabpanel' class='tab-pane' id='analysis'>
                        Data analysis and scripts
                    </div>
                    <div role='tabpanel' class='tab-pane' id='upload'>
                        Add dataset upload for project {{project}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% include "includes/ko.js" %}
{% include "includes/csrf.js" %}
{% include "project/includes/detail-form.html" %}
<script>
$(function() {
    function ProjectWorkflowModel() {
        var self = this;
        self.project = new ProjectModel({data: $.parseJSON("{{ project_json|escapejs }}")});
        console.debug(self.project);
        self.projectUrl = ko.pureComputed(function() {
            var projectId = self.project.id();
            return (projectId === -1) ? "/projects/" : "/projects/" + projectId + "/";
        });
        self.projectRequestType = ko.pureComputed(function() {
            return self.project.id() === -1 ? "POST" : "PUT";
        });
        self.toProjectJson = function() {
            var data = ko.mapping.toJSON(self.project);
            console.debug(data);
            return data;
        };
        self.saveProjectDetails = function() {
            $.ajax({
                url: self.projectUrl(),
                type: self.projectRequestType(),
                data: self.toProjectJson(),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                crossDomain: false,
            }).done(function(data) {
                console.debug("SUCCESS");
                console.debug(data);
                ko.mapping.fromJS(data, self.project);
            }).fail(function(jqxhr) {
                console.debug("FAIL");
            });
        }
        return self;
    }
    ko.applyBindings(new ProjectWorkflowModel());
});
</script>
{% endblock %}
