{% extends "base.html" %}

{% block content %}
<div class='row'>
    <h4>Projects</h4>
    <table class='table striped'>
        <thead>
            <th class='col-md-4'>Name</th>
            <th class='col-md-4'>Description</th>
            <th class='col-md-2'>Owner</th>
            <th class='col-md-2'>Date created</th>
        </thead>
        <tbody data-bind='foreach: projects'>
        <tr>
            <td><a data-bind='attr: {href: detail_url}, text: name'></a></td>
            <td data-bind='text: description'></td>
            <td data-bind='text: creator'></td>
            <td data-bind='text: date_created'></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock content %}

{% block javascript %}
<script src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js'></script>
<script>
var projectsArray = $.parseJSON("{{ project_list_json | escapejs }}");
$(function() {
    function ProjectListModel(viewModelObject) {
        var self = this;
        var model = ko.mapping.fromJS({projects: viewModelObject});
        return model;
    }

    var model = new ProjectListModel(projectsArray);
    ko.applyBindings(model);
});
</script>

{% endblock javascript %}
