{% extends "base.html" %}

{% block content %}

<div class='row'>
    <div class='col-md-12'>
        <table class='table striped'>
            <thead>
                <th>Project</th>
                <th>Owner</th>
                <th>Date created</th>
            </thead>
            <tbody data-bind='foreach: projects'>
            <tr>
                <td data-bind='text: name'></td>
                <td data-bind='text: creator'></td>
                <td data-bind='text: date_created'></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js'></script>
<script>
var projectsArray = $.parseJSON("{{ project_list_json | escapejs }}");
$(function() {
    function ProjectListModel(viewModelObject) {
        var self = this;
        var model = ko.mapping.fromJS({projects: viewModelObject});
        return model;
    }

    var model = new ProjectListModel(projectsArray);
    ko.applyBindings(model);
});
</script>

{% endblock javascript %}
