{% extends "base.html" %}

{% block content %}
<div class='panel panel-default'>
    <div class='panel-heading'>
        <h4 class='panel-title'>Projects
            <span class='btn btn-primary btn-xs' data-bind='click: createNewProject'><i class='fa fa-plus'></i> New</span>
        </h4>
    </div>
    <div class='panel-body dynamic-content'>
        <div data-bind='if: projects().length'>
            <table class='table striped'>
                <thead>
                    <th class='col-md-4'>Name</th>
                    <th class='col-md-4'>Description</th>
                    <th class='col-md-2'>Owner</th>
                    <th class='col-md-2'>Date created</th>
                </thead>
                <tbody data-bind='foreach: projects'>
                    <tr>
                        <td><a data-bind='attr: {href: detail_url}, text: name'></a></td>
                        <td data-bind='text: description'></td>
                        <td data-bind='text: creator'></td>
                        <td data-bind='text: date_created'></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-bind='ifnot: projects().length'>
            <div class='alert alert-success'>
                No available projects. <span class='btn btn-warning' data-bind='click: createNewProject'><i class='fa fa-plus'></i> Create one?</span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
{% include "includes/ko.js" %}
{% include "project/includes/detail-form.html" %}
<div class='modal fade' data-bind='modal: activateNewProject'>
<div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'>New project</h4>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
            </div>
            <div class='modal-body'>
                <form class='form-horizontal'>
                    <project-detail-form params='model: project'></project-detail-form>
                </form>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
                <button type='button' class='btn btn-primary' data-bind='click: saveProject'>Create</button>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {
    function ProjectListModel(projectArray) {
        var self = this;
        var model = ko.mapping.fromJS({projects: projectArray});
        model.project = ko.observable(new ProjectModel());
        model.activateNewProject = ko.observable(false);
        model.createNewProject = function() {
            model.project(new ProjectModel());
            model.activateNewProject(true);
        }
        model.saveProject = function() {
            model.project().save();
            model.activateNewProject(false);
        }
        return model;
    }
    {% comment "initialize project list"%} {% endcomment %}
    $.getJSON("{% url 'core:project-list' format='json' %}")
        .done(function(data) {
            console.debug("SUCCESS");
            ko.applyBindings(new ProjectListModel(data));
            document.documentElement.className = "js";
        }).fail(function() {
            console.debug("FAIL");
        });

});
</script>

{% endblock javascript %}
