{% extends "base.html" %}

{% block content %}
<div class='row'>
    <div class='col-lg-12 col-md-12'>
        <h4><i class='fa fa-tachometer'></i> Dashboard</h4>
    </div>
</div>
<div class='row'>
    <div class='col-lg-8 col-md-8'>
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                <h4 class='panel-title'><i class='fa fa-table'></i> Your Projects
                    <button class='pull-right btn btn-default btn-xs' data-bind='click: createNewProject'><i class='fa fa-plus'></i> New</button>
                </h4>
            </div>
            <div class='panel-body dynamic-content'>
                <div data-bind='if: projects().length'>
                <table class='table striped'>
                    <thead>
                        <th class='col-md-1'>Status</th>
                        <th class='col-md-3'>Name</th>
                        <th class='col-md-4'>Description</th>
                        <th class='col-md-1'>Owner</th>
                        <th class='col-md-2'>Date created</th>
                    </thead>
                    <tbody data-bind='foreach: projects'>
                    <tr>
                        <td><span class='label label-badge label-warning' data-bind='text: number_of_datasets'></span> <span class='label label-primary' data-bind='text: status'></span></td>
                        <td><a data-bind='attr: {href: url}, text: name'></a></td>
                        <td data-bind='text: description'></td>
                        <td data-bind='text: creator'></td>
                        <td data-bind='text: date_created'></td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <div style='display: none;' class='alert alert-success' data-bind='visible: projects().length === 0'>
                        No available projects. <span class='btn btn-warning' data-bind='click: createNewProject'><i class='fa fa-plus'></i> Create one?</span>
                </div>
            </div>
        </div>
    </div>
    <div class='col-lg-4 col-md-4'>
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                <h4 class='panel-title'><i class='fa fa-history'></i> Recent Activity</h4>
            </div>
            <div class='panel-body'>
                {% comment %}
                FIXME: this needs to be put into JS so it can get updated without a manual refresh
                {% endcomment %}
                {% for activity in activity_log %}
                <div class='row'>
                    <div class='col-md-12'>
                        <span class='label label-primary'>{{ activity.date_created }}</span>
                        <span class='label label-info'>{{activity.creator}}</span> <span class='text-info'>{{ activity.message }}</span>
                    </div>
                </div>
                {% empty %}
                <div class='well'>
                    <i class='fa fa-info-circle'></i> No recent activity.
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
{% include "includes/ko.js" %}
{% include "includes/csrf.js" %}
{% include "includes/validate.js" %}
{% include "project/includes/detail-form.html" %}
<script type='text/template' id='project-list'>
    <div data-bind='if: projects().length'>
        <table class='table striped'>
            <thead>
                <th class='col-md-4'>Name</th>
                <th class='col-md-4'>Description</th>
                <th class='col-md-2'>Owner</th>
                <th class='col-md-2'>Date created</th>
            </thead>
            <tbody data-bind='foreach: projects'>
            <tr>
                <td><a data-bind='attr: {href: url}, text: name'></a></td>
                <td data-bind='text: description'></td>
                <td data-bind='text: creator'></td>
                <td data-bind='text: date_created'></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div data-bind='ifnot: projects().length'>
    <div class='alert alert-success'>
    No available projects. <span class='btn btn-warning' data-bind='click: createNewProject'><i class='fa fa-plus'></i> Create one?</span>
    </div>
    </div>
</script>
<div class='modal fade' data-bind='modal: activateNewProject'>
<div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title'>New project
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                </h4>
            </div>
            <div class='modal-body'>
                <form id='new-project-form' class='form-horizontal'>
                    <project-detail-form params='model: project'></project-detail-form>
                </form>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
                <button type='button' class='btn btn-primary' data-bind='click: saveProject'>Create</button>
            </div>
        </div>
    </div>
</div>
<script>
var projectArray = $.parseJSON("{{ project_list_json | escapejs }}");
$(function() {
    function ProjectListModel(projectArray) {
        var self = this;
        var model = ko.mapping.fromJS({projects: projectArray});
        model.project = ko.observable(new ProjectModel());
        model.activateNewProject = ko.observable(false);
        model.templateId = ko.observable('project-list');
        model.createNewProject = function() {
            model.project(new ProjectModel());
            model.activateNewProject(true);
        }
        model.saveProject = function() {
            if ($('#new-project-form').valid()) {
                var project = model.project();
                project.save();
                model.activateNewProject(false);
                model.projects.push(project);
            }
        }
        return model;
    }
    ko.applyBindings(new ProjectListModel(projectArray));
    $('#new-project-form').validate();
    document.documentElement.className = "js";
});
</script>

{% endblock javascript %}
