{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block head %}
{{ block.super }}
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="">
<script src="//apis.google.com/js/platform.js" async defer></script>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css'>
{% endblock %}

{% block content %}

<div class="row">
    <div class='col-sm-6'>
        <h3>Returning User</h3>
        <p>If you've forgotten your password, you can <a href='{% url "password_reset" %}'>request a new one</a>.</p>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type='hidden' name='next' value='{{ next }}' />
            {% buttons %}
            <button type='submit' class='btn btn-primary'>
                <i class='fa fa-sign-in'></i> Sign in
            </button>
            {% endbuttons %}
        </form>
    </div>
    <div class='col-sm-6'>
        <h3>External Sign In</h3>
        <p>Sign in or create a new user with an existing social account.</p>
        <div class='col-sm-6 social-buttons'>
            <a class='btn btn-lg btn-block btn-social btn-github' href="{% url 'social:begin' 'github' %}"><i class='fa fa-github-square'></i> github</a>
            <a class='btn btn-lg btn-facebook btn-block btn-social' href="{% url 'social:begin' 'facebook' %}"><i class='fa fa-facebook'></i> facebook</a>
            <a class="btn btn-lg btn-google btn-block btn-social" href="{% url 'social:begin' 'google' %}" data-onsuccess="onSignIn" data-theme="dark"><i class='fa fa-google'></i> google</a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log("Name: " + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
    };
</script>
{% endblock %}
