# Local development Django settings overrides
from .base import *

DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'miracle_metadata',
        'USER': get_env_variable('DB_USER'),
        'HOST': get_env_variable('DB_HOST'),
        'PASSWORD': 'changeme_db',
        'PORT': get_env_variable('DB_PORT'),
    },
    'datasets': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'miracle_data',
        'USER': get_env_variable('DB_USER'),
        'HOST': get_env_variable('DB_HOST'),
        'PASSWORD': 'changeme_db',
        'PORT': get_env_variable('DB_PORT'),
    }
}

INSTALLED_APPS += (
    'debug_toolbar',
    )

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

# disabling i18n until we need it
USE_I18N = False

# DeployR settings
DEFAULT_DEPLOYR_USER = get_env_variable('DEPLOYR_USER')
DEFAULT_DEPLOYR_PASSWORD = 'changeme_deployr'
DEPLOYR_URL = get_env_variable('DEPLOYR_URL')
DEPLOYR_HOST = get_env_variable('DEPLOYR_HOST')

# Radiant settings
# The url to link to the radiant frame with
# In production this is the link that you need to connect Radiant going through Nginx
# The https:// in the url should not be included
RADIANT_URL = get_env_variable('RADIANT_URL')

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'django_secret_key'

SOCIAL_AUTH_FACEBOOK_KEY = 'facebook_key'
SOCIAL_AUTH_FACEBOOK_SECRET = 'facebook_secret'

SOCIAL_AUTH_TWITTER_KEY = 'twitter_key'
SOCIAL_AUTH_TWITTER_SECRET = 'twitter_secret'

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = 'google_key'
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = 'google_secret'

SOCIAL_AUTH_GITHUB_KEY = 'github_key'
SOCIAL_AUTH_GITHUB_SECRET = 'github_secret'

if not os.path.exists(MEDIA_ROOT):
    print("MEDIA_ROOT path '{}' does not exist, trying to create it now.".format(MEDIA_ROOT))
    try:
        os.makedirs(MEDIA_ROOT)
    except:
        print("Unable to create path {}, user uploads will not work properly.".format(MEDIA_ROOT))
