<template id='project-detail-form'>
    {% csrf_token %}
    <div class='form-group'>
        <label for='name' class='control-label col-sm-2'>Name</label>
        <div class='col-sm-8'>
            <input type='text' data-bind='value: name' class='form-control' id='name' placeholder='Name'>
        </div>
    </div>
    <div class='form-group'>
        <label for='description' class='control-label col-sm-2'>Description</label>
        <div class='col-sm-8'>
            <textarea class='form-control' rows="6" data-bind='value: description'></textarea>
        </div>
    </div>
    <div class='form-group'>
        <div class='col-sm-offset-2 col-sm-8'>
            <div class='checkbox'>
                <label>
                    <input type='checkbox' data-bind='checked: published'>
                    Published?
                </label>
            </div>
        </div>
    </div>
    <div data-bind='if: published_on'>
        <div class='well'>Published on <mark data-bind='text: published_on'></mark></div>
    </div>
</template>
<script>
function ProjectModel(params) {
    console.debug("creating project model");
    if (params === undefined) {
        params = {
            data: {
                id: -1,
                name: "",
                description: "",
                group_members: [],
                published: false,
                published_on: null,
                published_by: null,
                deleted_on: null,
                deleted_by: null,
            }
        }
    }
    else if (params.model) {
        return params.model;
    }
    console.debug("created project model with data");
    console.debug(params.data);
    model = ko.mapping.fromJS(params.data);
    model.saveUrl = ko.pureComputed(function() {
        var projectId = model.id();
        return (projectId === -1) ? "/projects/" : "/projects/" + projectId + "/";
    });
    model.toJSON = ko.pureComputed(function() {
        return ko.mapping.toJSON(model, {
            ignore: ["saveUrl", "requestType", "toJSON"]
        });
    });
    model.requestType = ko.pureComputed(function() {
        return model.id() === -1 ? "POST" : "PUT";
    });
    model.save = function() {
        $.ajax({
            url: model.saveUrl(),
            type: model.requestType(),
            data: model.toJSON(),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            crossDomain: false,
        }).done(function(data) {
            console.debug("SUCCESS");
            console.debug(data);
            ko.mapping.fromJS(data, model);
        }).fail(function(jqxhr) {
            console.debug("FAIL");
        });
    }
    return model;
}
ko.components.register('project-detail-form', {
    viewModel: ProjectModel,
    template: { element: 'project-detail-form' }
});
</script>
