{% extends "base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.css'>
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-md-3'>
        {# sidebar #}
        <ul class='nav nav-pills nav-stacked' role='tablist' id='project-tab'>
            <li role='presentation' class='active'>
                <a href='#overview' aria-controls='overview' role='tab' data-toggle='tab'><i class='fa fa-table'></i> Overview</a>
            </li>
            <li role='presentation'>
                <a href='#explorer' aria-controls='explorer' role='tab' data-toggle='tab'><i class='fa fa-binoculars'></i> Data explorer</a>
            </li>
            <li role='presentation'>
                <a href='#analysis' aria-controls='analysis' role='tab' data-toggle='tab'><i class='fa fa-terminal'></i> Analysis and scripts</a>
            </li>
            <li role='presentation'>
                <a href='#upload' aria-controls='upload' role='tab' data-toggle='tab'><i class='fa fa-cloud-upload'></i> Upload datasets</a>
            </li>
        </ul>
    </div>
    <div class='col-md-9'>
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                <h1 class='panel-title'>PROJECT: {{project.name}} <span class='label label-badge label-danger pull-right'>{{project.status}}</span></h1>
            </div>
            <div class='panel-body'>
                <div class='tab-content'>
                    <div role='tabpanel' class='tab-pane active' id='overview'>
                        <form class='form-horizontal' data-bind='submit: save'>
                            <project-detail-form params='model: $root'></project-detail-form>
                            <div class='well'>
                                <h3>Uploaded datasets</h3>
                                <ul class='list-group' data-bind='foreach: datasets'>
                                    <li class='list-group-item'><a data-bind='attr: {href: url}, text: name'></a></li>
                                </ul>
                            </div>
                            <div class='form-group'>
                                <div class='col-sm-offset-2 col-sm-8'>
                                    <button type='submit' class='btn btn-primary'><i class='fa fa-save'></i> Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='explorer'>
                        <a class='btn btn-xs btn-default' target='_blank' href='https://miracle.comses.net/radiant/'><i class='fa fa-external-link'></i> Open in new window</a>
                        <div class='embed-responsive embed-responsive-4by3'>
                            <iframe id='radiant-iframe' src='//miracle.comses.net/radiant/'></iframe>
                        </div>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='analysis'>
                        {# FIXME: should eventually extract into component (react or KO) #}
                        <div class='bs-callout bs-callout-default'>
                            <h4><i class='fa fa-code'></i> Analyses</h4>
                        </div>
                        <div data-bind='foreach: analyses'>
                            <div class='well'>
                                <h5><span data-bind='text: full_name'></span>
                                    <small class='pull-right'>created <span class='label label-primary' data-bind='text: moment(date_created())'></span></small>
                                </h5>
                                <div>
                                    <strong>Description</strong>:
                                    <span data-bind='text: description() || "No description entered yet."'></span>
                                </div>
                                <div>
                                    <strong>Authors</strong>:
                                    <span data-bind='if: authors().length'>
                                        <span data-bind='foreach: authors'>
                                            <span data-bind='text: $data'></span>
                                        </span>
                                    </span>
                                    <span data-bind='ifnot: authors().length'>
                                        No authors listed.
                                    </span>
                                </div>
                                <div>
                                    <strong>Type</strong>: <span class='label label-warning' data-bind='text: file_type'></span>
                                </div>
                                <div class='btn-group' role='group'>
                                    <button class='btn btn-sm btn-default' data-bind='click: $root.enterAnalysisParameters.bind($data)'><i class='fa fa-play'></i> Run script</button>
                                    <a class='btn btn-sm btn-default' data-bind='attr: {href: url}'>
                                        <i class='fa fa-eye'></i> View details</span>
                                    </a>
                                    <a class='btn btn-sm btn-default' data-bind='attr: {href: url}'>
                                        <i class='fa fa-download'></i> Download</span>
                                    </a>
                                </div>
                                <hr>
                                <h5><i class='fa fa-area-chart'></i> Outputs</h5>
                                <div data-bind='ifnot: outputs().length'>
                                    No outputs recorded yet.
                                </div>
                                <div data-bind='foreach: outputs'>
                                    <h5><span data-bind='text: name'></span>
                                        <small class='pull-right'>created <span class='label label-primary' data-bind='text: moment(date_created())'></span></small>
                                    </h5>
                                    <hr>
                                    <div class='btn-group' role='group'>
                                        <i class='fa fa-eye'></i> View details</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='bs-callout bs-callout-default'>
                            <h4><i class='fa fa-database'></i> Data</h4>
                        </div>
                        <div class='panel-body'>
                            <ul class='list-group' data-bind='foreach: datasets'>
                                <li class='list-group-item'>
                                    <a class='btn btn-sm btn-default' data-bind='attr: {href: url}'>
                                        <i class='fa fa-download'></i> Download
                                    </a>
                                    <a data-bind='attr: {href: url}, text: name'></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='upload'>
                        Add dataset upload for project {{project}}<br>
                        <form action="{% url 'core:upload' %}" class="dropzone" enctype="multipart/form-data" method="post" id="my-dropzone">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ project.id }}">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='analysis-input-modal' class='modal fade' data-bind='modal: showAnalysisParameters'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title'>Enter input arguments</h4>
            </div>
            <div class='modal-body'>
                <form class='form form-horizontal' id='analysis-input-form'>
                    <div data-bind='foreach: analysisParameters'>
                        <div class='form-group'>
                            <label data-bind='attr: { for: name }' class='control-label col-sm-3'>
                                <span data-bind='text: label'></span>
                            </label>
                            <div class='col-sm-6'>
                                <div class='input-group'>
                                    <input type='number' step="any" data-bind='attr: {id: name}, value: value' class='form-control' required placeholder='Value'>
                                    <span class='text-info input-group-addon'><mark data-bind='text: rclass'></mark></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class='modal-footer'>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss='modal' data-bind='click: $root.runAnalysis'><i class='fa fa-play-circle'></i> Run analysis</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js'></script>
<script type='text/html' id='run-analysis-input'>
</script>
{% include "includes/ko.js" %}
{% include "includes/dropzone.js" %}
{% include "includes/csrf.js" %}
{% include "project/includes/detail-form.html" %}
<script>
$(function() {
    Dropzone.options.myDropzone = {
        paramName: "file",
    };
    var model = new ProjectModel({data: {{ project_json|safe}}} );
    model.toggleFullScreen = function(id) {
        $(id).toggleClass("maximized-iframe");
    };
    model.showAnalysisParameters = ko.observable(false);
    model.selectedAnalysisId = ko.observable(-1);
    model.analysisParameters = ko.observableArray();
    model.currentInterval = ko.observable();
    model.setCurrentInterval = function(intervalId) {
        model.clearCurrentInterval();
        model.currentInterval(intervalId);
    }
    model.clearCurrentInterval = function() {
        if (model.currentInterval()) {
            clearInterval(model.currentInterval());
            model.currentInterval(undefined);
        }
    }
    model.checkAnalysisRunStatus = function(task_id) {
        // FIXME: replace with websockets / sockjs if/when more realtime notifications are needed
        return function() {
            $.get('/analysis/status/', {task_id: task_id}, function(response) {
                console.debug("SUCCESS response");
                console.debug(response);
                model.clearCurrentInterval();
            }).fail(function(response) {
                console.debug("FAIL response failed to check status of " + task_id + " -- clearing interval");
                console.debug(response);
                model.clearCurrentInterval();
            });
        }
    }
    model.enterAnalysisParameters = function(analysis) {
        console.debug("running analysis on: " + analysis);
        var analysis_detail_url = analysis.url();
        $.get(analysis_detail_url, {format: 'json'}, function(response) {
            console.debug("success");
            console.debug(response);
            model.analysisParameters(response.parameters);
            model.selectedAnalysisId(response.id);
            model.showAnalysisParameters(true);
        }).fail(function() {
            alert("Failed to retrieve analysis parameters");
        });
    };
    model.runAnalysis = function(model) {
        if (model.selectedAnalysisId() === -1) {
            alert("No analysis selected.");
            return;
        }
        if (model.currentInterval()) {
            alert("Analysis already running, please wait until it has completed.");
            return;
        }
        console.debug("running analysis with updated parameters");
        parameters = model.analysisParameters();
        ko.utils.arrayForEach(parameters, function(parameter) {
            parameter.value = parseFloat(parameter.value);
        });
        $.get('/analysis/run/', {pk: model.selectedAnalysisId(), parameters: JSON.stringify(parameters)}, function(response) {
            console.debug("success");
            console.debug(response);
            // start checking on the run after 6 seconds.
            setTimeout(function() {
                model.setCurrentInterval(setInterval(model.checkAnalysisRunStatus(response.task_id), 2000));
            }, 5000);
        }).fail(function() {
            console.debug("Failed to run analysis with parameters");
            console.debug(parameters);
        }).always(function() {
            $('#analysis-input-modal').modal('hide');
        });
    }
    ko.applyBindings(model);
    $('#project-tab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $('ul.nav-pills > li > a').on('shown.bs.tab', function (e) {
        var href = $(e.target).attr('href');
        var id = href.substr(1);
        window.location.hash = id;
    });
    var hash = window.location.hash;
    $('#project-tab a[href="' + hash + '"]').tab('show');
});
</script>
{% endblock %}
