{% extends "base.html" %}
{% load static %}
{% load comments %}
{% load tags %}

{% block head %}
{{ block.super }}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css'>
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-lg-12'>
        {# sidebar #}
        <ul class='nav nav-tabs nav-justified' role='tablist' id='project-tab'>
            <li role='presentation' class='active'>
                <a href='#overview' aria-controls='overview' role='tab' data-toggle='tab'><i class='fa fa-table'></i> Overview</a>
            </li>
            <li data-bind='visible: number_of_datasets() != 0'role='presentation'>
                <a href='#data-groups' aria-controls='metadata' role='tab' data-toggle='tab'><i class='fa fa-database'></i> Metadata</a>
            </li>
            <li data-bind='visible: number_of_datasets() != 0' role='presentation'>
                <a href='#explorer' aria-controls='explorer' role='tab' data-toggle='tab'><i class='fa fa-binoculars'></i> Data explorer</a>
            </li>
            <li data-bind='visible: number_of_datasets() != 0' role='presentation'>
                <a href='#analysis' aria-controls='analysis' role='tab' data-toggle='tab'><i class='fa fa-terminal'></i> Analysis</a>
            </li>
            <li role='presentation'>
                <a href='#upload' aria-controls='upload' role='tab' data-toggle='tab'><i class='fa fa-cloud-upload'></i> Upload</a>
            </li>
            <li data-bind='visible: apps().length != 0' role='presentation' class='dropdown'>
                <a class='dropdown-toggle' data-toggle='dropdown' href='#' role='button' aria-haspopup='true'
                    aria-expanded='false'>
                    Apps <span class='caret'></span>
                </a>
                <ul class='dropdown-menu'>
                </ul>
            </li>
        </ul>
        <br>
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                <h1 class='panel-title'><span class='label label-info'>PROJECT</span> <span data-bind='text: name'></span><span class='label label-badge label-info pull-right' data-bind='text: status'></span></h1>
            </div>
            <div class='panel-body'>
                <div class='tab-content'>
                    <div role='tabpanel' class='tab-pane active' id='overview'>
                        <div class='row'>
                            <div class='col-lg-6'>
                                <div class='well well-sm'>
                                <form class='form-horizontal' data-bind='submit: save'>
                                    <project-detail-form params='model: $root'></project-detail-form>
                                    <div class='form-group'>
                                        <div class='col-sm-offset-2 col-sm-3'>
                                            <button type='submit' class='btn btn-primary'><i class='fa fa-save'></i> Save</button>
                                        </div>
                                        <div class='col-sm-3'>
                                            <button data-bind='click: $root.deleteArchive' class='btn btn-danger'><i class='fa fa-trash'></i> Delete</button>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                            <div class='col-md-6'>
                                <h5><i class='fa fa-history'></i> Recent Activity</h5>
                                <div class='activitylog' data-bind='foreach: recent_activity'>
                                    <div class='row'>
                                        <div class='col-md-12'>
                                            <mark data-bind='text: project'></mark>
                                            <span class='label label-info' data-bind='text: creator'></span>
                                            <span class='text-info'>
                                                <span data-bind='text: message'></span>
                                            </span>
                                            </span>
                                            <span class='pull-right label label-primary' data-bind='text: date_created'></span>
                                        </div>
                                    </div>
                                </div>
                                <h5><i class='fa fa-comment'></i> Comments</h5>
                                <div class='comments' data-bind='foreach: comments'>
                                    <div class='well well-sm'>
                                        <span class='label label-info' data-bind='text: user_name'></span>
                                        <span class='pull-right label label-primary' data-bind='text: submit_date'></span>
                                        <div data-bind='text: comment'></div>
                                    </div>
                                </div>
                                {% get_comment_form for project as comment_form %}
                                <form data-bind='submit: $root.postComment' class='form' id='project-comment-form'>
                                    {% csrf_token %}
                                    {% for field in comment_form %}
                                    {% if field.is_hidden %}
                                    <div>{{ field }}</div>
                                    {% endif %}
                                    {% if field.name == "comment" %}
                                    <div class='form-group'>
                                        <label for='id_comment'><b>Post a comment</b></label>
                                        <textarea name='comment' id='id_comment' class='form-control' rows='5'></textarea>
                                    </div>
                                    {% endif %}
                                    {% if field.name == 'honeypot' %}
                                    <div style='display:none;'>
                                        {{ field.label_tag }} {{ field }}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    <div class='form-group'>
                                        <button type='submit' class='btn btn-primary'>Post</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='explorer'>
                        <a class='btn btn-xs btn-default' target='_blank' href='{{ radiant_url }}?project={{ project.slug }}'><i class='fa fa-external-link'></i> Open in new window</a>
                        <div class='embed-responsive embed-responsive-4by3'>
                            <iframe id='radiant-iframe' data-src='{{ radiant_url }}?project={{ project.slug }}'></iframe>
                        </div>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='dependencies'>
                        <div class='bs-callout bs-callout-default'>
                            <h4><i class='fa fa-archive'></i> Dependencies</h4>
                            {{ dependencies|safe }}
                        </div>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='data-groups'>
                        <h4><i class='fa fa-database'></i> Data Groups</h4>
                        <div id="elm-main"></div>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='analysis'>
                        {# FIXME: should eventually extract into component (react or KO) #}
                        <div class='row'>
                            <div class='col-md-6 well-sm'>
                                <h4><i class='fa fa-code'></i> Data Analysis Scripts</h4>
                                <hr>
                                <div data-bind='if: activeAnalysisScripts().length === 0'>
                                    <div class='alert alert-info alert-block' role='alert'>
                                        <i class='fa fa-info-circle'></i> No data analysis scripts found.
                                    </div>
                                </div>
                                <div data-bind='foreach: activeAnalysisScripts'>
                                    <div class='well' data-bind='if: enabled'>
                                        <h5>
                                            <a href='#' data-bind='click: $root.selectedAnalysis.bind($data)'>
                                                <span data-bind='text: name'></span>
                                                <small class='pull-right'><span class='label label-primary' data-bind='text: moment(date_created())'></span></small>
                                            </a>
                                        </h5>
                                        <div>
                                            <strong>Status</strong>:
                                            <mark data-bind='text: job_status'></mark>
                                            <i class='fa fa-spinner fa-pulse' data-bind='visible: job_status() === "PROCESSING"'></i>
                                        </div>
                                        <div>
                                            <strong>Description</strong>:
                                            <span data-bind='text: description() || "No description entered."'></span>
                                        </div>
                                        <div>
                                            <strong>Authors</strong>:
                                            <span data-bind='if: authors().length'>
                                                <span data-bind='foreach: authors'>
                                                    <mark data-bind='text: user.full_name'></mark>
                                                </span>
                                            </span>
                                            <span data-bind='ifnot: authors().length'>
                                                No authors listed.
                                            </span>
                                        </div>
                                        <div>
                                            <strong>File Type</strong>: <span class='label label-warning' data-bind='text: file_type'></span>
                                        </div>
                                        <div>
                                            <strong>Parameters</strong>:
                                            <div data-bind='foreach: parameters'>
                                                <div class='alert alert-info alert-sm'>
                                                    <div><strong data-bind='text: label'></strong><i> (<small data-bind='text: name'></small>)</i></div>
                                                    <div><strong>Data Type</strong>: <span data-bind='text: data_type'></span></div>
                                                    <div><strong>Element Type</strong>: <span data-bind='text: html_input_type'></span></div>
                                                    <div><strong>Allowed Values</strong>: <span data-bind='text: allowed_values'></span></div>
                                                    <div><strong>Description</strong>: <span data-bind='text: description'></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='btn-group' role='group'>
                                            <button class='btn btn-sm btn-primary' data-bind='click: $root.selectedAnalysis.bind($data)'><i class='fa fa-crosshairs'></i>  Select</button>
                                            <button class='btn btn-sm btn-default' data-bind='click: $root.enterAnalysisParameters.bind($data)'><i class='fa fa-play'></i> Run script</button>
                                            <a class='btn btn-sm btn-default' data-bind='attr: {href: url}'>
                                                <i class='fa fa-eye'></i> View details
                                            </a>
                                            <a class='btn btn-sm btn-default' data-bind='attr: {href: "/analyses/" + id() + "/download/"}'>
                                                <i class='fa fa-download'></i> Download
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class='col-md-6 well-sm'>
                                <h4><i class='fa fa-area-chart'></i> Analysis Outputs</h4>
                                <hr>
                                <div data-bind='ifnot: selectedAnalysis'>
                                    Please select an analysis to view on the left to see its outputs.
                                </div>
                                <div data-bind='with: selectedAnalysis'>
                                    <h4>Outputs for  <mark data-bind='text: name'></mark></h4>
                                    <div data-bind='ifnot: outputs().length'>
                                        No recorded outputs.
                                    </div>
                                    <ul class='list-group' data-bind='foreach: outputs'>
                                        <li class='list-group-item'>
                                            <h5><span class='label label-primary' data-bind='text: creator'></span><span data-bind='text: name'></span>
                                                <small class='pull-right'><span class='label label-primary' data-bind='text: moment(date_created())'></span></small>
                                            </h5>
                                            <div class='collapse' data-bind='attr: {id: "collapseOutput" + id() }'>
                                                <div class='well'>
                                                    <code>Parameters:</code>
                                                    <ul class='list-group' data-bind='foreach: parameter_values'>
                                                        <li class='list-group-item'>
                                                            <span data-bind='text: label'></span> (<i data-bind='text: name'></i>): <mark data-bind='text: value'></mark>
                                                        </li>
                                                    </ul>
                                                    <code>Output files:</code>
                                                    <ul class='list-group' data-bind='foreach: files'>
                                                        <li class='list-group-item'>
                                                            <a class='list-group-item-text' data-bind='attr: {href: url}, text: name'></a>
                                                            <div data-bind='if: name().endsWith("png")'>
                                                                <img class='img-responsive img-thumbnail' data-bind='attr: {src: url}'>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class='btn-group' role='group'>
                                                <a class='btn btn-primary' role='button' data-toggle='collapse' aria-expanded='false' data-bind='attr: {href: "#collapseOutput" + id()}'>
                                                    <i class='fa fa-eye'></i> Details</a>
                                                <a class='btn btn-success' role='button' data-bind='click: $root.showShareOutputForm.bind($data)'>
                                                    <i class='fa fa-share'></i> Share</a>
                                            </div>
                                            <div class='btn-group pull-right' role='group'>
                                                <a class='btn btn-danger' role='button' data-bind='click: $root.deleteOutput.bind($data)'>
                                                    <i class='fa fa-trash'></i> Delete
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {#<div data-bind="template: { name: 'analysis-output-template', data: selectedAnalysis, if: selectedAnalysis }">#}
                                </div>
                            </div>
                        </div>
                    <div role='tabpanel' class='tab-pane' id='upload'>
                        <h4><i class='fa fa-cloud-upload'></i> Upload project archive</h4>
                        <section>
                            <div data-bind='if: submitted_archive'>
                                <div data-bind='text: submitted_archive'></div>
                            </div>
                            <div class='well'>
                                Please follow the guidelines at
                                <a href='https://github.com/comses/miracle/wiki/Project-Archive-Preparation-Guidelines'>
                                    https://github.com/comses/miracle/wiki/Project-Archive-Preparation-Guidelines
                                </a> when preparing your project archive for submission.
                                <ol>
                                    <li>
                                        <a href='https://github.com/comses/miracle/wiki/Project-Archive-Preparation-Guidelines#required-file-structure'>
                                            Make sure your archive conforms to the following structure: 
                                        </a>
<pre class='tree'>
<i class='fa fa-folder-o'></i> {Root Directory} (any name will work here, just provides an organizing root folder)
├──<i class='fa fa-folder-o'></i> <mark data-bind='text: slug'></mark> - <b>this must match the short name specified in your project metadata</b>
│   ├── <mark>data</mark> - folder for your data files, can be nested
│   └── <mark>src</mark> - folder for your analysis scripts
└──<i class='fa fa-folder-o'></i> <mark>packrat</mark>
    └── <mark>init.R</mark>
</pre>
Highlighted names like <mark>data</mark>, <mark>src</mark> and your project's current short name, <span class='label label-info' data-bind='text: slug'></span>,
must be used verbatim. The <code>{Root Directory}</code> can be any arbitrary name, we just expect it as a way to
lump all your files together.
                                    </li>
                                    <li>
                                        <a href='https://github.com/comses/miracle/wiki/Project-Archive-Preparation-Guidelines#prepare-your-r-code'>
                                            Declare your R package dependencies, input parameters, and input data using
                                            <code>deployrUtils</code> so we can execute your scripts remotely using
                                            DeployR.
                                        </a>
                                    </li>
                                    <li><a href='https://github.com/comses/miracle/wiki/Project-Archive-Preparation-Guidelines#prepare-your-archive'>
                                            Prepare your archive with all required dependencies using
                                            <code>packrat</code>
                                        </a>
                                    </li>
                                </ol>
                                We accept zipfiles or tarballs with <code>.zip</code> or <code>.tar.gz</code> extensions.
                            </div>
                        </section>
                        <form action="{% url 'core:upload' %}" class="dropzone" enctype="multipart/form-data" method="post" id="project-archive-dropzone">
                            {% csrf_token %}
                            <input type="hidden" name="id" data-bind='value: id'>
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='analysis-input-modal' class='modal fade' data-bind='modal: displayInputParameterForm'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title'>Enter input arguments</h4>
            </div>
            <div class='modal-body'>
                <form class='form form-horizontal' id='analysis-input-form'>
                    <div data-bind='foreach: analysisParameters'>
                        <div class='form-group'>
                            <label data-toggle='tooltip' data-placement='bottom' data-bind='attr: { for: name, title: description }' class='control-label col-sm-5'>
                                <span data-bind='text: label'></span>
                                <i>(<small data-bind='text: name'></small>)</i>
                                <span class='label label-badge label-primary' data-bind='text: data_type'></span>
                            </label>
                            <div class='col-sm-7'>
                                <input data-bind='attr: {id: name, type: html_input_type}, value: default_value' class='form-control' required placeholder='Value'>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class='modal-footer'>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss='modal' data-bind='click: $root.runAnalysis'><i class='fa fa-play-circle'></i> Run analysis</button>
            </div>
        </div>
    </div>
</div>
<div id='share-output-modal' class='modal fade' data-bind='modal: displayShareOutputForm'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title'>Share an analysis run</h4>
            </div>
            <div class='modal-body' data-bind='with: selectedOutput'>
                <div class='bs-callout bs-callout-info'>
                    <h5 data-bind='text: name'></h5>
                    <code>Parameters:</code>
                    <ul class='list-group' data-bind='foreach: parameter_values'>
                        <li class='list-group-item'>
                            <span data-bind='text: label'></span> (<i data-bind='text: name'></i>): <mark data-bind='text: value'></mark>
                        </li>
                    </ul>
                    <code>Output files:</code>
                    <ul class='list-group' data-bind='foreach: files'>
                        <li class='list-group-item'>
                            <a class='list-group-item-text' data-bind='attr: {href: url}, text: name'></a>
                        </li>
                    </ul>
                </div>
                <form class='form form-horizontal' id='share-output-form'>
                    <input type='hidden' name='id' data-bind='value: id'>
                    <div class='form-group'>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fa fa-envelope'></i></span>
                            <input type='email' name='email' class='form-control' required placeholder='Emails (use commas to separate multiple addresses)'>
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class='input-group'>
                            <span class='input-group-addon'><i class='fa fa-paragraph'></i></span>
                            <textarea class='form-control' name='message' rows="10" required placeholder='Enter your message here'></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class='modal-footer'>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss='modal' data-bind='click: $root.shareOutput'><i class='fa fa-share-alt'></i> Share</button>
            </div>
        </div>
    </div>
</div>

<script type='text/html' id='analysis-output-template'>
<h4>Outputs for  <mark data-bind='text: name'></mark></h4>
    <div data-bind='ifnot: outputs().length'>
        No recorded outputs.
    </div>
    <ul class='list-group' data-bind='foreach: outputs'>
        <li class='list-group-item'>
            <h5><span class='label label-primary' data-bind='text: creator'></span><span data-bind='text: name'></span>
                <small class='pull-right'><span class='label label-primary' data-bind='text: moment(date_created())'></span></small>
            </h5>
            <div class='collapse' data-bind='attr: {id: "collapseOutput" + id() }'>
                <div class='well'>
                    <code>Parameters:</code>
                    <ul class='list-group' data-bind='foreach: parameter_values'>
                        <li class='list-group-item'>
                            <span data-bind='text: label'></span> (<i data-bind='text: name'></i>): <mark data-bind='text: value'></mark>
                        </li>
                    </ul>
                    <code>Output files:</code>
                    <ul class='list-group' data-bind='foreach: files'>
                        <li class='list-group-item'>
                            <a class='list-group-item-text' data-bind='attr: {href: url}, text: name'></a>
                            <div data-bind='if: name().endsWith("png")'>
                                <img class='img-responsive img-thumbnail' data-bind='attr: {src: url}'>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='btn-group' role='group'>
                <a class='btn btn-primary' role='button' data-toggle='collapse'
                                      aria-expanded='false'
                                      data-bind='attr: {href: "#collapseOutput" + id()}'>
                    <i class='fa fa-eye'></i> Details
                </a>
                <a class='btn btn-success' role='button' data-bind='click: $root.showShareOutputForm.bind($data)'>
                    <i class='fa fa-share'></i> Share
                </a>
            </div>
            <div class='btn-group pull-right' role='group'>
                <a class='btn btn-danger' role='button' data-bind='click: $root.deleteOutput.bind($data)'>
                    <i class='fa fa-trash'></i> Delete
                </a>
            </div>
        </li>
    </ul>
</script>

{% endblock content %}

{% block javascript %}
<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js'></script>
{% include "includes/ko.js" %}
{% include "includes/dropzone.js" %}
{% include "includes/csrf.js" %}
<script>
{% include "includes/elm-project.js" %}
</script>
{% include "project/includes/detail-form.html" %}
<script>
var project_data = {{ project_json | safe }};
$(function() {
    var model = new ProjectModel({data: project_data} );
    Dropzone.options.projectArchiveDropzone = {
        paramName: "file",
        init: function() {
            this.on("queuecomplete", function(file) {
                window.setTimeout(model.refresh, 5000);
                humane.log("Upload successful. Please wait a few seconds while we process your archive.");
            });
        }
    };
    var ColumnDataType = function(label, name) {
        this.label = label;
        this.name = name;
    };
    model.apps = ko.observableArray();
    model.deleteArchive = function() {
        bootbox.confirm("Delete the project archive and files associated with this project? This action cannot be undone.",
                function (result) {
                    if (result) {
                        console.debug("Deleting archive");
                        $.ajax({
                            url: model.url() + "/clear_archive/",
                            type: 'DELETE',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                        }).done(function(response) {
                            console.debug(response);
                        }).fail(function(response) {
                            console.debug("FAIL");
                            console.debug(response);
                        });
                    }
                });
    };
    model.activeAnalysisScripts = ko.pureComputed(function() {
        return ko.utils.arrayFilter(model.analyses(), function(analysis) { return analysis.enabled() });
    });
    model.columnDataTypes = ko.observableArray([
            new ColumnDataType("floating point number", 'decimal'),
            new ColumnDataType("boolean", 'boolean'),
            new ColumnDataType("integer", 'bigint'),
            new ColumnDataType("text", 'text'),
            new ColumnDataType("date", 'date')
    ]);
    model.updateColumn = function(column) {
        console.debug(column);
        var columnJson = ko.toJSON(column);
        console.debug(columnJson);
        $.ajax({
            url: column.detail_url(),
            type: 'PUT',
            data: columnJson,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            crossDomain: false,
        }).done(function(data) {
            humane.log("Metadata updated successfully.");
            console.debug(data);
        }).fail(function(response) {
            humane.log("Failed to update column metadata.");
            console.debug(response);
        });
    };
    model.toggleFullScreen = function(id) {
        $(id).toggleClass("maximized-iframe");
    };
    model.displayInputParameterForm = ko.observable(false);
    model.displayShareOutputForm = ko.observable(false);
    model.selectedAnalysis = ko.observable();
    model.selectedOutput = ko.observable();
    model.analysisParameters = ko.observableArray();
    model.currentInterval = ko.observable();
    model.loadRadiant = function() {
        var radiantIframe = $('#radiant-iframe');
        radiantIframe.attr('src', radiantIframe.data('src'));
    }
    model.postComment = function() {
        var formData = $('#project-comment-form').serialize();
        console.debug(formData);
        $.post('{% comment_form_target %}', formData, function(response) {
            console.debug(response);
            window.location.reload(true);
        });
    };
    model.setCurrentInterval = function(intervalId) {
        model.clearCurrentInterval();
        model.currentInterval(intervalId);
    };
    model.clearCurrentInterval = function() {
        if (model.currentInterval()) {
            clearInterval(model.currentInterval());
            model.currentInterval(null);
        }
    };
    model.showShareOutputForm = function(output) {
        model.selectedOutput(output);
        model.displayShareOutputForm(true);
    };
    model.shareOutput = function() {
        var formData = $('#share-output-form').serialize();
        $.post("{% url 'core:share-output' %}", formData, function(response) {
            console.debug("SUCCESSFUL SHARE");
            console.debug(response);
            humane.log("Message sent!");
        })
        .always(function() {
            model.selectedOutput(null);
        });
    };
    model.deleteOutput = function(output) {
        bootbox.confirm("Delete this analysis output? This cannot be undone.", function(result) {
            if (result) {
                console.debug("deleting output.");
                $.ajax({
                    url: '/outputs/' + output.id(),
                    method: "DELETE"
                })
                .done(function(response) {
                    console.debug("deleted output");
                    console.debug(output);
                    model.refresh();
                })
                .fail(function(response) {
                    console.error("DELETE OUTPUT FAILURE");
                    console.error(response);
                    humane.log("Unable to delete output file.");
                });
            }
        });

    };
    model.checkAnalysisRunStatus = function(task_id) {
        // FIXME: replace with websockets / sockjs if/when more realtime notifications are needed
        return function() {
            $.get("{% url 'core:check-analysis-run-status' %}", {task_id: task_id}, function(response) {
                console.debug("SUCCESS analysis check response");
                console.debug(response);
                var status = response.status;
                model.selectedAnalysis().job_status(status);
                if (status === "SUCCESS") {
                    humane.log("Analysis run has completed, results are ready");
                    model.refresh();
                    model.clearCurrentInterval();
                }
                else if (status === "FAILURE") {
                    humane.log("Analysis run failed: " + response.error_message);
                    model.clearCurrentInterval();
                }
            }).fail(function(response) {
                console.debug("FAIL response failed to check status of " + task_id + " -- clearing interval");
                console.debug(response);
                model.clearCurrentInterval();
            });
        }
    };
    model.enterAnalysisParameters = function(analysis) {
        var analysis_detail_url = analysis.url();
        model.selectedAnalysis(analysis);
        $.get(analysis_detail_url, {format: 'json'}, function(response) {
            model.analysisParameters(response.parameters);
            model.displayInputParameterForm(true);
            $('[data-toggle="tooltip"]').tooltip();
        }).fail(function() {
            alert("Failed to retrieve analysis parameters");
        });
    };
    model.runAnalysis = function(model) {
        if (! model.selectedAnalysis()) {
            alert("No analysis selected.");
            return;
        }
        if (model.currentInterval()) {
            alert("Analysis already running, please wait until it has completed.");
            return;
        }
        parameters = model.analysisParameters();
        console.debug("running analysis with parameters: ");
        console.debug(parameters);
        ko.utils.arrayForEach(parameters, function(parameter) {
            // set parameter value to KO model parameter's "default_value" bound in the form
            // FIXME: type coercion needs to support other data types
            parameter.value = parseFloat(parameter.default_value);
        });
        $.get("{% url 'core:run-analysis' %}", {pk: model.selectedAnalysis().id(), parameters: JSON.stringify(parameters)}, function(response) {
            model.selectedAnalysis().job_status("PROCESSING");
            humane.log("Analysis run started.");
            // start checking on the run after 6 seconds.
            setTimeout(function() {
                model.setCurrentInterval(setInterval(model.checkAnalysisRunStatus(response.task_id), 4000));
            }, 6000);
        }).fail(function() {
            console.debug("Failed to run analysis with parameters");
            console.debug(parameters);
            model.clearCurrentInterval();
        }).always(function() {
            $('#analysis-input-modal').modal('hide');
        });
    };
    ko.applyBindings(model);
    $('#project-tab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $('ul.nav-tabs > li > a').on('shown.bs.tab', function (e) {
        var hash = $(e.target).attr('href');
        if (hash === "#explorer") {
            model.loadRadiant();
        }
        history.pushState(null, null, hash);
    });
    var hash = window.location.hash;
    $('#project-tab a[href="' + hash + '"]').tab('show');
});

var el = document.getElementById("elm-main");
var app = Elm.Project.embed(el, JSON.stringify(project_data));
</script>
{% endblock %}
