{% extends "base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.css'>
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-md-3'>
        {# sidebar #}
        <ul class='nav nav-pills nav-stacked' role='tablist' id='project-tab'>
            <li role='presentation' class='active'>
                <a href='#overview' aria-controls='overview' role='tab' data-toggle='tab'><i class='fa fa-table'></i> Overview</a>
            </li>
            <li role='presentation'>
                <a href='#explorer' aria-controls='explorer' role='tab' data-toggle='tab'><i class='fa fa-binoculars'></i> Data explorer</a>
            </li>
            <li role='presentation'>
                <a href='#analysis' aria-controls='analysis' role='tab' data-toggle='tab'><i class='fa fa-terminal'></i> Analysis and scripts</a>
            </li>
            <li role='presentation'>
                <a href='#upload' aria-controls='upload' role='tab' data-toggle='tab'><i class='fa fa-cloud-upload'></i> Upload datasets</a>
            </li>
        </ul>
    </div>
    <div class='col-md-9'>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h2 class='panel-title'>{{project.name}} <span class='label label-badge label-primary pull-right'>{{project.status}}</span></h2>
            </div>
            <div class='panel-body'>
                <div class='tab-content'>
                    <div role='tabpanel' class='tab-pane active' id='overview'>
                        <form class='form-horizontal' data-bind='submit: save'>
                            <project-detail-form params='model: $root'></project-detail-form>
                            <div class='well'>
                                <h3>Uploaded datasets</h3>
                                <ul class='list-group' data-bind='foreach: datasets'>
                                    <li class='list-group-item'><a data-bind='attr: {href: $data}, text: $data'></a></li>
                                </ul>
                            </div>
                            <div class='form-group'>
                                <div class='col-sm-offset-2 col-sm-8'>
                                    <button type='submit' class='btn btn-primary'><i class='fa fa-save'></i> Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='explorer'>
                        <div class='embed-responsive embed-responsive-4by3'>
                            <div class='well'>
                                Add local radiant iframe.
                            </div>
                        </div>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='analysis'>
                        {# FIXME: extract into a component (react or KO) #}
                        <div class='panel panel-primary'>
                            <div class='panel-heading'>
                                <h3 class='panel-title'><i class='fa fa-code'></i> Analyses</h3>
                            </div>
                            <div class='panel-body'>
                                <ul class='list-group' data-bind='foreach: analyses'>
                                    <li class='list-group-item'>
                                        <a class='btn btn-sm btn-info' data-bind='click: $root.enterAnalysisParameters.bind($data)'><i class='fa fa-play'></i> Run this analysis</a>
                                        <a data-bind='attr: {href: $data}, text: $data'></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class='panel panel-primary'>
                            <div class='panel-heading'>
                                <h3 class='panel-title'><i class='fa fa-database'></i> Data</h3>
                            </div>
                            <div class='panel-body'>
                                <ul class='list-group' data-bind='foreach: datasets'>
                                    <li class='list-group-item'>
                                        <a class='btn btn-sm btn-info' data-bind='attr: {href: $data}'>
                                            <i class='fa fa-download'></i> Download
                                        </a>
                                        <a data-bind='attr: {href: $data}, text: $data'></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class='panel panel-primary'>
                            <div class='panel-heading'>
                                <h3 class='panel-title'><i class='fa fa-area-chart'></i> Outputs</h3>
                            </div>
                            <div class='panel-body'>
                                Placeholder for analysis outputs (PNGs, etc)
                            </div>
                        </div>
                    </div>
                    <div role='tabpanel' class='tab-pane' id='upload'>
                        Add dataset upload for project {{project}}<br>
                        <form action="{% url 'core:upload' %}" class="dropzone" enctype="multipart/form-data" method="post" id="my-dropzone">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ project.id }}">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='modal fade' data-bind='modal: showAnalysisParameters'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                <h4 class='modal-title'>Enter input arguments</h4>
            </div>
            <div class='modal-body'>
                <form class='form form-horizontal' id='analysis-input-form' data-bind='foreach: analysisParameters'>
                    <span class='bg bg-info' data-bind='text: rclass'></span>
                    <div class='form-group'>
                        <label for='value' class='control-label col-sm-2' data-bind='text: label'></label>
                        <div class='col-sm-8'>
                            <input type='number' step="any" data-bind='value: value' class='form-control' id='value' required placeholder='Value'>
                        </div>
                    </div>
                </form>
            </div>
            <div class='modal-footer'>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bind='click: $root.runAnalysis'><i class='fa fa-play-circle'></i> Run analysis</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script type='text/html' id='run-analysis-input'>
</script>
{% include "includes/ko.js" %}
{% include "includes/dropzone.js" %}
{% include "includes/csrf.js" %}
{% include "project/includes/detail-form.html" %}
<script>
$(function() {
    Dropzone.options.myDropzone = {
        paramName: "file",
    };
    var model = new ProjectModel({data: {{ project_json|safe}}} );
    model.showAnalysisParameters = ko.observable(false);
    model.selectedAnalysisId = ko.observable(-1);
    model.analysisParameters = ko.observableArray();
    model.enterAnalysisParameters = function(analysis_detail_url) {
        console.debug("running analysis on: " + analysis_detail_url);
        $.get(analysis_detail_url, {format: 'json'}, function(response) {
            console.debug("success");
            console.debug(response);
            model.analysisParameters(response.parameters);
            model.selectedAnalysisId(response.id);
            model.showAnalysisParameters(true);
        }).fail(function() {
            alert("Failed to retrieve analysis parameters");
        });
    };
    model.runAnalysis = function(model) {
        if (model.selectedAnalysisId() === -1) {
            alert("No analysis selected.");
            return;
        }
        console.debug("running analysis with updated parameters");
        parameters = model.analysisParameters();
        ko.utils.arrayForEach(parameters, function(parameter) {
            parameter.value = parseFloat(parameter.value);
        });
        $.get('/analysis/run', {pk: model.selectedAnalysisId(), parameters: parameters}, function(response) {
            console.debug("success");
            console.debug(response);
        });
    }
    ko.applyBindings(model);
    $('#project-tab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $('ul.nav-pills > li > a').on('shown.bs.tab', function (e) {
        var href = $(e.target).attr('href');
        var id = href.substr(1);
        window.location.hash = id;
    });
    var hash = window.location.hash;
    $('#project-tab a[href="' + hash + '"]').tab('show');
});
</script>
{% endblock %}
